.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #9b9b9b;
}

.result {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
  height: 10%;
  margin-bottom: 30px;
  transition: 2s;
  border-radius: 10px;
}

.result label {
  font-size: 30px;
  font-weight: 400;
}

.result:hover {
  -webkit-box-shadow: 0px 0px 18px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 18px 5px rgba(0, 0, 0, 0.3);
}

.infos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 10%;
  width: 30%;
  height: 60%;
  background-color: #e0e0e0;
  transition: 2s;
  border-radius: 10px;
}

.infos:hover {
  -webkit-box-shadow: 0px 0px 18px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 18px 5px rgba(0, 0, 0, 0.3);
  background-color: #ffffff;
}

.code {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 8%;
  background-color: #e0e0e0;
  margin-bottom: 30px;
  border-radius: 10px;
  transition: 2s;
}

.option-color {
  display: flex;
  justify-content: center;
  align-items: center;
}



.code:hover {
  -webkit-box-shadow: 0px 0px 18px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 18px 5px rgba(0, 0, 0, 0.3);
  background-color: #575757;
  color: #fff;
}

.slide-container {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.slide-container label {
  font-size: 1.1em;
  font-weight: 500;
}

.text {
  font-size: 1.5em;
  font-weight: 700;
}

input[type="text"] {
  border-radius: 10px;
  border-color: transparent;
  outline: none;
  position: relative;
  top: 7%;
  height: 20%;
  width: 80%;
  text-align: center;
  background-color: #dadada;
  transition: 0.5s;
  font-weight: 700;
  font-size: 1.5em;
  margin-bottom: 30px;
}
input[type="text"]:hover {
  background-color: #525252;
  color: #fff;
}
input[type="text"]:focus {
  -webkit-box-shadow: 0px 0px 10px 0px rgba(255, 102, 102, 0.35);
  box-shadow: 0px 0px 10px 0px rgba(255, 102, 102, 0.35);
}

input[type="number"] {
  width: 35px;
  outline: none;
  text-align: center;
  border-radius: 10px;
  border-color: transparent;
  background-color: #a0a0a0;
  color: #e4e4e4;
  transition: 0.5s;
  font-weight: 700;
}

input[type="number"]:focus {
  -moz-appearance: textfield;

  -webkit-box-shadow: 0px 0px 10px 0px rgba(255, 102, 102, 0.35);
  box-shadow: 0px 0px 10px 0px rgba(255, 102, 102, 0.35);
  color: #262020;
}

input[type="number"]:hover {
  filter: brightness(0.9);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="color"] {
  position: relative;
  top: 2.3px;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  margin-bottom: 10px;
}

.division {
  height: 1px;
  width: 70%;
  background-color: #929191;
  margin-bottom: 10px;
  border-color: transparent;
}

input[type="range"] {
  height: 30px;
  -webkit-appearance: none;
  margin: 10px 0;
  width: 40%;
  background-color: transparent;
  transition: 1s;
}
input[type="range"]:focus {
  outline: none;
}
input[type="range"]::-webkit-slider-runnable-track {
  width: 40%;
  height: 8px;
  cursor: pointer;
  box-shadow: 0px 0px 6px #383838;
  background: #a8a8a8;
  border-radius: 20px;
  border: 1px solid #a8a8a8;
  transition: 1s;
}
input[type="range"]::-webkit-slider-thumb {
  box-shadow: 0px 0px 6px #292929;
  border: 10px solid #292929;
  height: 14px;
  width: 1px;
  border-radius: 30px;
  background: #262020;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -8.5px;
}
input[type="range"]:focus::-webkit-slider-runnable-track {
  background: rgb(116, 116, 116);
  -webkit-box-shadow: 0px 0px 10px 1px rgba(255, 102, 102, 0.79);
  box-shadow: 0px 0px 10px 1px rgba(255, 102, 102, 0.79);
}
input[type="range"]::-moz-range-track {
  width: 40%;
  height: 8px;
  cursor: pointer;
  box-shadow: 0px 0px 6px #e0e0e0;
  background: #e3e3e3;
  border-radius: 20px;
  border: 1px solid #e0e0e0;
}
input[type="range"]::-moz-range-thumb {
  box-shadow: 0px 0px 6px #292929;
  border: 10px solid #292929;
  height: 14px;
  width: 1px;
  border-radius: 30px;
  background: #262020;
  cursor: pointer;
}
input[type="range"]::-ms-track {
  width: 40%;
  height: 8px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type="range"]::-ms-fill-lower {
  background: #e3e3e3;
  border: 1px solid #e0e0e0;
  border-radius: 40px;
  box-shadow: 0px 0px 6px #e0e0e0;
}
input[type="range"]::-ms-fill-upper {
  background: #e3e3e3;
  border: 1px solid #e0e0e0;
  border-radius: 40px;
  box-shadow: 0px 0px 6px #e0e0e0;
}
input[type="range"]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 0px 0px 6px #292929;
  border: 10px solid #292929;
  height: 14px;
  width: 1px;
  border-radius: 30px;
  background: #262020;
  cursor: pointer;
}
input[type="range"]:focus::-ms-fill-lower {
  background: #e3e3e3;
}
input[type="range"]:focus::-ms-fill-upper {
  background: #e3e3e3;
}
